{% extends 'service/base.html' %}
{% block title %}password_confirm{% endblock %}
{% block content %}

<div class="card text-bg-dark mb-3 mt-5 mx-auto" style="max-width: 40rem;">
    {% if validlink %}
        <h2 class="text-center">Установить новый пароль</h2>
        <div class="card-body">
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-primary btn-sm">Сохранить пароль</button>
            </form>
    {% else %}
        <h2 class="text-center">Неверная ссылка</h2>
        <p>Ссылка для сброса пароля недействительна</p>
    </div>
    {% endif %}
</div>
{% endblock %}