{% extends 'service/base.html' %}
{% block title %}user_register{% endblock %}
{% block content %}
<div class="card text-bg-dark mb-3 mt-5 mx-auto" style="max-width: 40rem;">
    <h1 class="text-center">Вход</h1>
    <div class="card-body">
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary btn-sm">Войти</button>
            <a href="/accounts/password_reset/"><button type="button" class="btn btn-outline-primary btn-sm">Забыли пароль?</button></a>
        </form>
    </div>
</div>
{% endblock %}